@import "./win7/win7.scoped.2.css";
.win7 .VuejsCalendario table.tabla_de_calendario {
  width: 100%;
}

.win7 .VuejsCalendario button.boton_de_calendario {
  min-width: auto;
  width: 100%;
  padding: 2px;
}

.win7 .VuejsCalendario button.boton_de_mover_mes {
  width: 100%;
}

.win7 .VuejsCalendario input.entrada_de_calendario {
  min-width: auto;
  width: 100%;
  text-align: center;
}

.win7 .VuejsCalendario .chivato_de_fecha {
  font-size: 8px;
  font-family: monospace;
  text-align: center;
}

.win7 .VuejsCalendario .vuejs_calendario_contenedor {
  max-width: 220px;
  background-color: #222;
  color: white;
  padding: 4px;
  border-radius: 2pt;
  box-shadow: 0 0 4px black;
}

.zbiglist {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  border-top: 1px solid #333;
}

.zbiglistitem {
  padding: 12px;
  font-size: 12px;
  border: 1px solid #333;
  border-top: none;
}

.zbreadcrumb {
  padding: 12px;
  background-color: #555;
  color: white;
}

.zbreadcrumb .zlink {
  color: white;
  text-decoration: underline;
}

.zbutton {
  width: 100%;
}

.zdialogport > div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.zdialogport > div > table {
  width: 100%;
  height: 100%;
}

.zdialogport > div > table > tbody > tr > td {
  vertical-align: middle;
  text-align: center;
}

.zdialogport > div > table > tbody > tr > td > div {
  display: inline-block;
  text-align: left;
  width: auto;
  min-width: 100px;
  min-height: 100px;
}

.zdialogport > div > table > tbody > tr > td > div > .zwindow > .zwindowbody {
  min-height: auto;
  overflow: scroll;
  /*resize: both;*/
}

.zfieldset {
  margin-bottom: 4px !important;
}

.zformitem {
  background-color: #222;
  color: white;
  padding: 4px;
  border-radius: 2pt;
  box-shadow: 0 0 4px black;
  margin-bottom: 4px;
}

.zformlabel {
  font-size: 10px;
  text-shadow: 0px 0px 2px #666;
}

.zformdate_table {
  width: 100%;
}

.zformdate_input {
  width: 100%;
}

.zformdate_button {
  min-width: 20px !important;
  width: auto !important;
}

.zformdatetime_table {
  width: 100%;
}

.zformdatetime_input {
  width: 100%;
}

.zformdatetime_button {
  min-width: 20px !important;
  width: auto !important;
}

.zformsearchbox {
  width: 100%;
}

.zformsearchbox > input[type=search] {
  width: 100%;
}

.zformselect_input {
  width: 100%;
}

.zformtextarea .zformtextarea_input {
  resize: vertical;
  min-height: 120px;
}

.zformtime_table {
  width: 100%;
}

.zformtime_input {
  width: 100%;
}

.zformtime_button {
  min-width: 20px !important;
  width: auto !important;
}

.zjumbotron {
  display: table;
  width: 100%;
  min-height: 80px;
}

.zjumbotron > .contents {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  background-color: #222;
  color: white;
  font-size: 12px;
}

.zlayout {
  padding: 4px;
}

.zlayouthorizontal {
  display: table;
  width: 100%;
}

.zlayouthorizontalitem {
  display: table-cell;
  vertical-align: middle;
}

.zlayouthorizontalrow {
  display: table-row;
}

.zlayoutnopaddingbottom {
  padding: 4px;
  padding-bottom: 0px;
}

.zlayoutnopaddingtop {
  padding: 4px;
  padding-top: 0px;
}

.zlayoutnopaddingvertical {
  padding: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.zlegend {
  border: 1px solid #CCC;
  padding: 4px;
  padding-top: 2px;
  border-radius: 4pt;
  background-color: #E0E0E0;
  color: black;
}

.zlist {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.zmenubar a {
  color: black !important;
}

.win7 ul[role=menubar].zmenubar {
  background: linear-gradient(#fff 20%, #dae1f0 25%, #a4c2ff 43%, #91afff 48%, #678cfd) !important;
}

.zmenubaritem {
  padding: 0px !important;
}

.zmenubaritem > a {
  display: inline-block;
  padding: 12px !important;
}

.zmenu a {
  color: black !important;
}

.zonscreendependant > .zonscreenxs {
  display: none;
}

.zonscreendependant > .zonscreensm {
  display: none;
}

.zonscreendependant > .zonscreenmd {
  display: none;
}

.zonscreendependant > .zonscreenlg {
  display: none;
}

.zonscreendependant > .zonscreenxl {
  display: none;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .zonscreendependant > .zonscreenlg {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .zonscreendependant > .zonscreenmd {
    display: block !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .zonscreendependant > .zonscreensm {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .zonscreendependant > .zonscreenxl {
    display: block !important;
  }
}
@media (min-width: 0px) and (max-width: 576px) {
  .zonscreendependant > .zonscreenxs {
    display: block !important;
  }
}
.zpage {
  text-align: center;
}

.zpage > .contents {
  display: inline-block;
  padding: 12px;
  text-align: left;
}

.zpage > .contents > .page {
  resize: both;
  overflow: auto;
  border: 1px dashed #333;
  min-width: 240px;
  min-height: 180px;
}

.zpill {
  display: inline-block;
  padding: 4px;
  font-size: 10px;
  border-radius: 4pt;
  background-color: #333;
  color: white;
}

.zseparator {
  margin: 0px;
  padding: 0px;
}

.zstatic {
  position: absolute;
}

.zsubtitle {
  padding: 12px;
  background-color: #444;
  color: white;
  font-size: 15px;
}

.ztabpanel {
  display: none;
}

.ztabpanel.active {
  display: block;
}

.ztabpanel {
  display: none;
}

.ztabpanel.active {
  display: block;
}

.ztabshorizontallayout > .horizontaltabs > [role=horizontaltablist] > button[role=horizontaltab] {
  border-radius: 0;
  color: #222;
  display: block;
  min-width: unset;
  padding: 2px 6px;
  text-decoration: none;
  z-index: 1;
  writing-mode: sideways-lr;
}

.ztabshorizontallayout > .horizontaltabs > [role=horizontaltablist] > button[role=horizontaltab][aria-selected=true] {
  background: #fff;
  border-right: 0;
  box-shadow: none;
  margin: 0px;
  padding: 2px 5px;
  position: relative;
  z-index: 8;
}

.horizontaltabs {
  display: table;
  width: 100%;
}

.ztabshorizontallayout > .horizontaltabs > [role=horizontaltablist],
.ztabshorizontallayout > .horizontaltabs > .horizontaltabpanel {
  display: table-cell;
  vertical-align: top;
}

.ztabshorizontallayout > .horizontaltabs > [role=horizontaltablist] {
  margin: 0;
  padding: 0;
  min-width: 24px;
  max-width: 24px;
}

.ztabpanel {
  display: none;
}

.ztabpanel.active {
  display: block;
}

.ztitle {
  background-color: #333;
  color: #FFF;
  font-size: 18px;
  padding: 12px;
}

.Topbar {
  background-color: white;
}

.Topbar .topbar_fixed {
  background-color: white;
  box-shadow: 0 0 4px black;
}

h3 {
  padding-top: 60px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  background-color: #333333;
  color: #FFFFFF;
}

hr {
  margin: 0;
  padding: 0;
}

.topbar_height {
  height: 60px;
}

.topbar_height_as_width {
  width: 60px;
}

.topbar_title {
  font-size: 28px;
}

.navigation_component {
  width: 180px;
  left: -200px;
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;
  transition: left 0.2s linear;
}

.navigation_component.is_selected {
  left: 0px;
}

.navigation_background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #DDDDDD;
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  .topbar_title {
    font-size: 18px;
  }
  .topbar_height {
    height: 40px;
  }
  .topbar_height_as_width {
    width: 40px;
  }
  h3 {
    padding-top: 40px;
  }
}
.badge_viewer {
  padding: 5px;
}

.badge_style {
  background-color: #FFFFFF;
  margin-top: 5px;
  width: 100%;
}

.badge_type_error {
  background-color: #D0AAAA;
}

.badge_type_inform {
  background-color: #AAAAD0;
}

.badge_type_warning {
  background-color: #D0D0AA;
}

.badge_title {
  font-size: 15px;
  font-weight: bold;
}

.badge_message {
  font-size: 10px;
}

.dialogs_viewer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.dialogs_container {
  display: table;
  width: 100%;
  height: 100%;
}

.dialogs_content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 15px;
}

.dialog_box {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: left;
  background-color: #CCCCCC;
}

.dialog_header {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #333333;
  position: absolute;
  top: 0px;
  bottom: auto;
  left: 0px;
  right: 0px;
  height: 30px;
  white-space: nowrap;
}

.dialog_body {
  font-size: 12px;
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 0px;
  right: 0px;
  overflow: scroll;
}

.dialog_footer {
  border-top: 1px solid #333333;
  height: 30px;
  position: absolute;
  top: auto;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.footer_space {
  margin-top: 50px;
  border-top: 1px solid #DDDDDD;
}

.footer_message {
  font-size: 12px;
  padding: 5px;
  text-align: right;
}

.footer_love_icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: bottom;
}

.link_like {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

/* STYLES THAT OVERRIDE "app.css" */
/* GENERAL */
* {
  box-sizing: border-box;
}

html {
  padding: 0px;
}

body {
  margin: 0px;
}

/* DISPLAY */
.display_table {
  display: table;
}

.display_table_row {
  display: table-row;
}

.display_table_cell {
  display: table-cell;
}

.display_block {
  display: block;
}

.display_inline_block {
  display: inline-block;
}

/* POSITION */
.position_relative {
  position: relative;
}

.position_fixed {
  position: fixed;
}

.position_absolute {
  position: absolute;
}

.position_absolute_fixed {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.top_0 {
  top: 0px;
}

.left_0 {
  left: 0px;
}

.right_0 {
  right: 0px;
}

.bottom_0 {
  bottom: 0px;
}

.top_auto {
  top: auto;
}

.left_auto {
  left: auto;
}

.right_auto {
  right: auto;
}

.bottom_auto {
  bottom: auto;
}

/* WIDTH */
.width_auto {
  width: auto;
}

.width_1x100 {
  width: 1%;
}

.width_50x100 {
  width: 50%;
}

.width_100x100 {
  width: 100%;
}

/* HEIGHT */
.height_auto {
  height: auto;
}

.height_1x100 {
  height: 1%;
}

.height_100x100 {
  height: 100%;
}

/* TEXT_ALIGN */
.text_align_left {
  text-align: left;
}

.text_align_right {
  text-align: right;
}

.text_align_center {
  text-align: center;
}

.text_align_justify {
  text-align: justify;
}

/* VERTICAL_ALIGN */
.vertical_align_top {
  vertical-align: top;
}

.vertical_align_middle {
  vertical-align: middle;
}

.vertical_align_bottom {
  vertical-align: bottom;
}

/* PADDINGS */
.padding_0 {
  padding: 0;
}

.padding_1 {
  padding: 4px;
}

.padding_2 {
  padding: 8px;
}

.padding_vertical_0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding_vertical_1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.padding_vertical_2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding_horizontal_0 {
  padding-left: 0;
  padding-right: 0;
}

.padding_horizontal_1 {
  padding-left: 4px;
  padding-right: 4px;
}

.padding_horizontal_2 {
  padding-left: 8px;
  padding-right: 8px;
}

.padding_left_0 {
  padding-left: 0;
}

.padding_left_1 {
  padding-left: 4px;
}

.padding_left_2 {
  padding-left: 8px;
}

.padding_right_0 {
  padding-right: 0;
}

.padding_right_1 {
  padding-right: 4px;
}

.padding_right_2 {
  padding-right: 8px;
}

.padding_top_0 {
  padding-top: 0;
}

.padding_top_1 {
  padding-top: 4px;
}

.padding_top_2 {
  padding-top: 8px;
}

.padding_bottom_0 {
  padding-bottom: 0;
}

.padding_bottom_1 {
  padding-bottom: 4px;
}

.padding_bottom_2 {
  padding-bottom: 8px;
}

/* MARGINS */
.margin_0 {
  margin: 0;
}

.margin_1 {
  margin: 4px;
}

.margin_2 {
  margin: 8px;
}

.margin_vertical_0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin_vertical_1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.margin_vertical_2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.margin_horizontal_0 {
  margin-left: 0;
  margin-right: 0;
}

.margin_horizontal_1 {
  margin-left: 4px;
  margin-right: 4px;
}

.margin_horizontal_2 {
  margin-left: 8px;
  margin-right: 8px;
}

.margin_left_0 {
  margin-left: 0;
}

.margin_left_1 {
  margin-left: 4px;
}

.margin_left_2 {
  margin-left: 8px;
}

.margin_right_0 {
  margin-right: 0;
}

.margin_right_1 {
  margin-right: 4px;
}

.margin_right_2 {
  margin-right: 8px;
}

.margin_top_0 {
  margin-top: 0;
}

.margin_top_1 {
  margin-top: 4px;
}

.margin_top_2 {
  margin-top: 8px;
}

.margin_bottom_0 {
  margin-bottom: 0;
}

.margin_bottom_1 {
  margin-bottom: 4px;
}

.margin_bottom_2 {
  margin-bottom: 8px;
}

/* BREAKLINE */
.no_break_line {
  white-space: nowrap;
}

/* LIST STYLE TYPE */
.list_style_type_none {
  list-style-type: none;
}

/* MIN WIDTH AND HEIGHT */
.min_width_auto {
  min-width: auto !important;
}

.min_height_auto {
  min-height: auto !important;
}

/* IN BLANK FOR NEW USERS TO OVERRIDE ALL THE STYLES */
